.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #023E8A;
  font-family: Verdana, sans-serif;
}

p.login{
  margin: auto;
  width: 50%;
  border: 3px solid #83C5BE;
  padding: 10px;
  margin-top: 100px;
  background-color:#EDF6F9 ;
  
}

html{
  background-color: #FFDDD2;
}

/*  https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578 */